<form action="/games/" method='post'>
Name: <input type="text" name="name"/>
Max Players: <input type="text" name="player_count"/>
Average Game Length: <input type="text" name="avg_length"/>
Description: <input type="text" name="description"/>
<input type="submit" value="Add New Game!"/>
</form>