<form action="/players/" method='post'>
Name: <input type="text" name="name"/>
Age: <input type="text" name="age"/>
Sex: <input type="text" name="asex"/>
<input type="submit" value="Add New Player!"/>
</form>